
.panda {
    position: relative;
    width: 200px;
    margin: 50px auto;
}
.face {
    width: 200px;
    height: 200px;
    background: #fff;
    border-radius: 50%;
    margin: 50px auto;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
    z-index: 50;
    position: relative;
}
.ear, .ear:after {
    position: absolute;
    width: 80px;
    height: 80px;
    background: #000;
    z-index: 5;
    border: 15px solid #fff;
    left: -15px;
    top: -15px;
    border-radius: 100%;
}
.ear::after {
    content: "";
    left: 134px;
}
.eye-shade {
    background: #000;
    width: 50px;
    height: 80px;
    margin: 10px;
    position: absolute;
    top: 35px;
    left: 25px;
    transform: rotate(220deg);
    border-radius: 25px/20px 30px 35px 40px;
}
.eye-shade.rgt {
    transform: rotate(140deg);
    left: 105px;
}
.eye-white {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #fff;
    left: 40px;
    top: 80px;
    border-radius: 100%;
    overflow: hidden;
    z-index: 500;
}
.eye-white.rgt {
    right: 40px;
    left: auto;
}
.eye-ball {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 20px;
    top: 20px;
    max-width: 10px;
    max-height: 10px;
    transition: 0.1s;
}
.eye-ball:after {
    content: "";
    background: #000;
    width: 20px;
    height: 20px;
    right: 0px;
    position: absolute;
    bottom: 0px;
    border-radius: 100%;
}
.nose {
    position: absolute;
    width: 35px;
    height: 20px;
    bottom: 40px;
    background: #000;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50px 20px/30px 15px;
    transform: rotate(15deg);
}
.body {
    background: #fff;
    width: 250px;
    height: 282px;
    position: absolute;
    top: 200px;
    left: -25px;
    border-radius: 100px 100px 100px 100px/125px 126px 90px 90px; 
}
.hand, .hand::after, .hand::before {
    width: 40px;
    height: 30px;
    border-radius: 50px;
    background: #000;
    margin: 5px;
    position: absolute;
    top: 70px;
    left: -25px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
}
.hand::after, .hand::before {
    content: "";
    left: -5px;
    top: 11px;
}
.hand::before {
    top: 26px;
}
.hand.rgt, .rgt.hand::after, .rgt.hand::before {
    left: auto;
    right: -25px;
}
.hand.rgt::after, .hand.rgt::before {
    left: auto;
    right: -5px;
}
.foot {
    top: 395px;
    left: -80px;
    position: absolute;
    background: #000;
    width: 82px;
    height: 120px;
    z-index: 2000;
    border-radius: 40px 40px 39px 40px/26px 26px 63px 63px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
}
.foot::after {
    content: "";
    width: 55px;
    height: 65px;
    background: #222;
    left: 0;
    bottom: 10px;
    right: 0;
    margin: auto;
    border-radius: 100%;
    position: absolute;
}
.foot .finger, .foot .finger::after, .foot .finger::before {
    position: absolute;
    width: 25px;
    height: 35px;
    background: #222;
    border-radius: 100%;
    top: 10px;
    right: 5px;
}
.foot .finger::after, .foot .finger::before {
    content: "";
    right: 30px;
    width: 20px;
    top: 0;
}
.foot .finger::before {
    right: 55px;
    top: 5px;
}
.foot.rgt {
    left: auto;
    right: -80px;
}
.foot.rgt .finger, .foot.rgt .finger::after, .foot.rgt .finger::before {
    left: 5px;
    right: auto;
}
.foot.rgt .finger::before {
    left: 55px;
    right: auto;
}
.foot.rgt .finger::after {
    left: 30px;
    right: auto;
}
@keyframes eye-blink {
    to{
        height: 15px;
    }
}
.txt {
    font-family: 'Asul', sans-serif;
    border: 5px solid;
    font-weight: bold;
    color: #FFBF00;
}
form {
    display: none;
    max-width: 400px;
    padding: 20px 40px;
    background: #fff;
    height: 400px;
    margin: auto;
    display: block;
    z-index: 500;
    transition: 0.3s;
    transform: translateY(-100deg);
    border: 1px solid black;
    position: relative;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
    font-family: 'Asul', sans-serif;
    top: -50px;
    text-align: center;
}
form.up {
    transform: translateY(-150px);
}
.form-control {
    border: 2px solid #FFBF00;
}
.btn {
    background-color: #FFBF00;
}
.text-successs {
    color: #FFBF00;
}

.form-control {
    height: 35px;
    font-size: 15px;
}
.inp {
    font-size: 18px;
    color: #FFBF00;
}

.tx {
    font-size: 20px;
    color: #FFF;
}

.nv:hover {
    color: red;
}


