.foorm {
    margin-top: 10%;
}
.txt {
    font-family: 'Asul', sans-serif;
    border: 5px solid;
    font-weight: bold;
    color: #FFBF00;
}
form {
    display: none;
    max-width: 400px;
    padding: 20px 40px;
    background: #fff;
    height: 400px;
    margin: auto;
    display: block;
    z-index: 500;
    transition: 0.3s;
    transform: translateY(-100deg);
    border: 1px solid black;
    position: relative;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
    font-family: 'Asul', sans-serif;
    top: -50px;
    text-align: center;
}
form.up {
    transform: translateY(-150px);
}
.form-control {
    border: 2px solid #FFBF00;
}
.btn {
    background-color: #FFBF00;
}
.text-successs {
    color: #FFBF00;
}

.form-control {
    height: 35px;
    font-size: 15px;
}
.inp {
    font-size: 18px;
    color: #FFBF00;
}

.tx {
    font-size: 20px;
    color: #FFF;
}

.nv:hover {
    color: red;
}


