
  .home {
    padding: 50px;
    margin-top: 10vh;
  }
  .img-about {
    max-height: 500px;
  }
  
  .about-lh {
    line-height: 2;
    color: #F3EFE0;
    font-family: 'Asul', sans-serif;
  }



  